.footer {
    background-color: #0A2342;
    color: #FFFDF7;
    font-weight: 400;
    min-height: 50px;
    margin-top: 1rem;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.p_footer {
    text-align: center;
    padding: 10px 10px;
    margin-bottom: 0;
}

.linkedin {
    color: #FFFDF7 !important;
    text-decoration: none !important;
}

.linkedin:hover {
    font-weight: bold;
}
