.bg_sobre {
    background-color: #0A2342;
    color: #FFFdf7;
    font-size: 18px;
    display: flex;
    justify-content: center;
    height: 100vh;
    width: 100%;
    margin: 0px;
}

.p_sobre {
    border: 3px solid #FFFdf7;
    margin: 50px 30px;
    align-items: center;
    text-align: center;
    max-width: 600px;
    max-height: fit-content;
    padding: 20px 10px;
    }

@media(min-width: 768px){
    .sobre{
        display: flex;
        align-items: center;
        flex-direction: column;
        font-size: 25px;
        margin-top: 80px;
    }
    .p_sobre {
        padding: 60px 60px;
    }
}
