body {
    background-color: #0A2342;
}
.container_perguntas {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #0A2342;
    align-items: center;
    margin-bottom: 40px;
}

.div_perguntas {
    background-color: #FFFDF7;
    padding-bottom: 20px;
    margin: 50px 10px;
    flex-wrap: wrap;
    text-align: center;
}

.titulo_perguntas {
    margin-top: 30px;
    color: #FFFDF7;
    background-color: #F08A4B;
    font-weight: 800;
    padding: 15px 15px;
    font-size: 1.5rem;
}

.alt_perguntas {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.botao_perguntas {
    background-color: #2CA58D ;
    color: #FFFDF7;
    border: none;
    margin: 20px;
    padding: 20px;
    width: 300px;
    max-width: 300px;
    max-height: fit-content;
    border: 2px solid #2CA58D;
} 

.botao_perguntas:hover {
    background-color: #FFFDF7;
    color: #2CA58D;
    border: 2px solid #2CA58D;
}

@media(min-width: 768px) {
    .div_perguntas {
    padding: 20px 0;
    }
    .container_perguntas{
        margin: 0;
        /* max-width: fit-content; */
    }
}

@media(min-width: 1024px) {
    .container_perguntas{
        margin-bottom: 0;
        margin-right: 0;

    }
    .div_perguntas {
        max-width: 800px;
    }
}