.container_matches {
    display: flex;
    flex-direction: column;
    background-color: #FFFDF7;
    margin-bottom: 60px;
}

.titulo_matches {
    margin-top: 40px;
    color: #FFFDF7;
    text-align: center;
    background-color: #F46197;
    padding: 25px;
    font-weight: bolder;
    font-size: 2rem;
}


/* @media(min-width: 360px){
    .container_matches{
        padding-bottom: 50px;
    }
} */

@media(min-width: 768px){
    .div_pets {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin: 0px 30px;
    }
}